.gradle/
.idea/
.kotlin/
.run/
build/
**/build/
local.properties
*.iml
.DS_Store
captures/
externalNativeBuild/
iosApp/iosApp.xcworkspace/xcuserdata/
iosApp/iosApp.xcodeproj/xcuserdata/
iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/
